@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1664px !important;
}
.navbar{
    padding: 1rem 0;
}
.main{
    background: url(../img/banner.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mainbody{
    padding-bottom: 15rem;
    position: relative;
}
.logo img{
    width: 100px;
}
.nav-item{
    margin: 7px 10px
}
.nav-link{
    color: #fff !important;
    font-weight: 700 ;
}
.search{
    cursor: pointer;
}
.text{
    margin-top: 5rem;
}
.text .container{
    display: flex;
    align-items: center;
}
.text h1{
    color: #fff;
    font-size: 95px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.socials{
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
}
.social{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.soctex{
    color: #FF6F6F;
    background-color: #fff;
    width: 230px;
    height: 28px;
    border-radius: 0px 10px 10px 0;
    position: absolute;
    text-align: center;
    left: -2px;
    opacity: 0;
    z-index: 1;
    transition: .5s all ease;
}
/* .soctex:hover .soctex::before{
    content: attr(data-text);
    position: absolute;
    color: #FF6F6F;
    top: 0;
    left: 0;
} */
.icons{
    position: relative;
    z-index: 9999;
}
.social a:hover .soctex{
    opacity: 1;
}
.social .fab{
    color: #fff ;
    font-size: 25px;
    margin: 3px 0;
}
.social a:hover .social a .icons{
    color: #FF6F6F !important;
}
.socials .btn{
    border-radius: 50px;
    padding: 10px 60px;
    border: 3px solid #fff;
}
.socials .btn:hover{
    background-color: #fff;
    color: #FF6F6F;
}
.gradi{
    top: 78%;
    right: 258px;
}
.gradintext1{
    background-color: #EBEBEB;
    color: #FF2222;
    width: 284px;
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: absolute;
    cursor: default;
}
.gradintext{
    background: linear-gradient(#FF2222,#FF6F6F);
    width: 284px;
    height: 126px;
    border-radius: 30px;
    display: flex;
    position: absolute;
    justify-content: center;
    left: 0;
    top: 0;
    align-items: center;
    color: #fff;
    transition: .4s ease all;
    cursor: default;
}
.gradintext1 span{
    font-size: 55px;
}
.gradi:hover .gradintext{
    top: 123px;
    border-radius: 0 0 30px 30px;
}
.gradi:hover .gradintext::before{
    opacity: 1;
}
.gradi:hover .gradintext1{
    border-radius:30px 30px 0 0;
}
.gradintext h3, .gradintext1 h3{
    font-size: 35px;
    text-align: center;
}
.texthead{
    display: flex;
    align-items: center;
}
.texthead hr, .sec3 hr,.sec5 hr, .box7 hr, .goaltext hr {
    width: 67px !important;
    color: #FF2222;
    height: 3px;
    opacity: 1 !important;
}
.texthead h3{
    color: #FF2222;
    font-weight: 900;
    margin-left: 20px;
}
.textbody h1{
    font-weight: bold;
    margin-top: 2rem;
}
.textfoot{
    margin-left: 25px;
}
.sec2{
    padding-bottom: 7rem;
}
.someimg{
    height: 55px;
}
.sec3{
    background: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 4rem;
}
.our{
    color: #FF2222;
    font-weight: 900;
    margin: 0 2rem;
    font-size: 35px;
}
.we{
    margin: 1.6rem 0;
    font-weight: 900;
}
.card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card-img-top{
    filter: brightness(80%);
}
.card-body::before{
    content: attr(data-num);
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 10rem;
    font-weight: 100;
    z-index: 1;
    filter: drop-shadow(0 0 1px rgb(255, 255, 255));
}
.card-body h3{
    z-index: 2;
}
.card:hover .card-body{
    background: linear-gradient( 90deg, #FF2222, #FF6F6F);
    color: #fff;
    cursor: pointer;
}
.card:hover .card-body::before{
    color: #FF2222;
}
.card:hover .card-img-top{
    filter: brightness(100%);
}
.kusok{
    left: 0;
    width: 10px;
    height: 70px;
    background-color: #FF2222;
}
.card:hover .kusok{
    background-color: #fff;
}
.centrum{
    color: #fff;
    font-weight: 200;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 0;
}
.our-goals{
    height: 100vh;
    background: linear-gradient( 45deg, #FF2222, #FF6F6F);
}
.goals{
    height: 100vh;
    object-fit: cover;
}
.goaltext hr{
    color: #fff;
}
.goaltext h1{
    font-size: 45px;
    margin: 30px 0;
}
.goaltext h3{
    font-weight: 900;
    font-size: 34px;
}
.goaltext p{
    font-size: 25px;
    font-weight: 400;
    width: 80%;
}
.goalsic{
   width: 109px;
   height: 108px;
   margin-top: 15px;
}
.sec5{
    background-color: #F5F5F5;
    padding: 5rem  0;
}
.teammet{
    margin: 20px 0;
}
.sec5 p{
    font-size: 20px;
    color: #2D2D2D;
}
.teamstaf{
    width: 200px;
}
.team1{
    left: 20px;
    top: 40px;
}
.team2{
    bottom: 20px;
    right: 40px;
}
.stafftext span{
    color: #FF2222;
}
.stafftext h3{
    margin-top: 20px;
}
.sec6{
    padding: 3rem 0;
}
.box6{
    width: 38%;
}
.sar{
    top: 10px;
    left: -10px;
}
.sep{
    top: 13px;
    left: 13px;
}
.box6text{
    margin-top: 5rem;
    margin-left: 2rem;
}
.other{
    color: #2D2D2D;
    float: right;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}
.other:hover{
    color: #FF2222;
    cursor: pointer;
}
.box6text a{
    color: red;
    font-weight: 100;
    text-decoration: underline;
    cursor: pointer;
}
.sec7{
    background-color: #F5F5F5;
    padding: 3rem 0;
}
.box7{
    flex-direction: column;
}
.box7 h1{
    margin: 10px 0;
    font-size: 44px;
}
.mail{
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 10px;
    font-weight: 300;
    width: 110%;
}
.mail::placeholder{
    color: #868686;
    font-size: 16px;
    font-weight: 100;
}
.mailbtn{
    background: linear-gradient( 45deg, #FF2222, #FF6F6F);
    padding: 15px 10px;
}
.mailbtn img{
    width: 90%;
}
.sended{
    display: none;
}
.curer{
    width: 470px;
    bottom:0 ;
    left: -60px;
}
.uzor{
    height: 100%;
    overflow: visible;
    bottom:0 ;
    right: 0;
}
.footer{
    background-color: #2D2D2D;
    width: 100%;
    height: 14rem;
    margin-top: -5px;
}
.foot{
    height: 18rem;
    background-color: #fff;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.199);
    padding: 3rem;
    padding-bottom: 1rem;
}
.foot1 .fas{
    width: 55px;
    font-size: 36px;
}
.foot1 p{
    margin-bottom: 0;
    float: right;
}
.right .col{
    display: flex;
    flex-direction: column;
}
.right .col a{
    color: #2D2D2D;
    text-decoration: underline;
}
.fot-socials .fab{
    color: #2D2D2D;
    font-size: 40px;
    margin: 0 10px;
}


















/* responsive */
@media screen and (max-width: 1199px){
    .container{
        width: 960px;
    }
}
@media screen and (max-width: 991px){
    .container{
        width: 720px;
    }
}
@media screen and (max-width: 767px){
    .container{
        width: 540px;
    }
}
@media screen and (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
}